<footer class="footer">
  <div class="footer__brand">StreamMaster © 2024</div>
  <div class="footer__links">
    <span>Скачивайте контент ответственно</span>
    <span>Поколение Node.js</span>
  </div>
</footer>
